<!-- Employee Details Showing -->
<div class="center flex-column">
  <h1>Employee Details</h1>

  <!--Error Message-->
  <% if flash[:errors] %>
    <% flash.each do |name,message| %>
      <p class="text-danger"><%= message%></p>
    <% end %>
  <% end %>

  <div>
    <h2> &#10145; Firstname: <%= @employee.firstname %> </h2>
    <h2> &#10145; Lastname: <%= @employee.lastname %> </h2>
    <h2> &#10145; Age: <%= @employee.age %> </h2>
    <h2> &#10145; Email: <%= @employee.email %> </h2>
    <h2> &#10145; No. of Order: <%= @employee.no_of_order %></h2>
    <h2> &#10145; Full Time Available: <%= @employee.full_time_available %> </h2>
    <h2> &#10145; Salary: <%= @employee.salary %> </h2>
  </div>

  <div class="d-flex">
    <%= button_to "Edit employee" , edit_employee_path, method: :get ,class:"btn-success border-0 rounded-pill shadow p-2 m-2" %>
    <%= button_to "Delete employee", employee_path, method: :delete ,class:"btn-danger border-0 rounded-pill shadow p-2 m-2" %>
    <%= button_to "View all Employees", employees_path,method: :get ,class:"btn-primary border-0 rounded-pill shadow p-2 m-2" %>
  </div>
  
</div>
