<div class="center flex-column" id="vantajsnet">
  <div class="card shadow" style="width: 36rem;">
    <div class="card-header">
      <h2 class="text-center"> Change Password</h2>
    </div>
    <div class="card-body">
      <!--Error Message-->
      <% if flash[:errors] %>
        <% flash[:errors].each do |error| %>
          <p class="text-danger"><%= error %></p>
        <% end %>
      <% end %>
      <!-- Form Started Here -->
      <%= form_with model: @js_user, method: :patch, url: changepassword_update_js_user_path do |f| %>
        <div id="password_div" >
          <%= f.label :password, "Old Password :" %>
          <%= f.password_field :password ,placeholder: "Enter Your Password", class:"mb-2 form-control", oninput:"check_old_pwd();", id:"old_password" %>
        </div>
        <br>
        <div id="obj" style="display:none;">
          <%= f.label :new_password, "New Password :" %>
          <%= f.password_field :new_password ,placeholder: "Enter New Password", class:"mb-2 form-control", id:"new_password", oninput:"check_password();" %>
          <p id = "pwd_msg" style="color:red"> </p>
          <br>
          <%= f.label :password_confirmation, "Confirm Password :" %>
          <%= f.password_field :password_confirmation ,placeholder: "Confirm New Password", class:"mb-2 form-control", id:"password_confirmation", onchange:"check_password();" %>
          <p id = "pwd_match_msg" style="color:red"> </p>
          <br>
          <%= f.submit "Change", data: { disable_with: "Saving..." }, class:"btn-primary border-0 rounded-pill shadow p-3" %>
        </div>
      <% end %>
      <%= button_to "Back to Home", js_users_path, method: :get ,class:"btn-warning border-0 rounded-pill shadow p-3 my-3" %>
    </div>
  </div>
</div>
<!-- JAVASCRIPT -->
<script type="text/javascript">
  function check_old_pwd(){
      var pre_pwd = "<%=@pwd.password %>"
      if(document.getElementById("old_password").value == pre_pwd)
      {
        document.getElementById("pwd_match_msg").innerHTML="";
        document.getElementById("obj").style.display = "block";
      }else
      {
        document.getElementById("pwd_match_msg").innerHTML="Old Password is incorrect!";
        document.getElementById("obj").style.display = "none";
      }
    }
    function check_password() {
    var submit_btn = document.getElementById("submit");
    var new_pwd = document.getElementById('new_password').value
    var confirm_pwd = document.getElementById('password_confirmation').value
    var regularExpression  = /^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{8,}$/;
    if(!regularExpression.test(new_pwd)) {
      document.getElementById("pwd_msg").innerHTML=
      "Minimum eight characters, at least one uppercase letter, one lowercase letter, one number and one special character";
    }else{
       document.getElementById("pwd_msg").innerHTML=""
    }
    if (new_pwd == confirm_pwd) {
       submit_btn.style.display= 'block';
        document.getElementById("pwd_match_msg").innerHTML="";
    } else {
        submit_btn.style.display= 'none';
        document.getElementById("pwd_match_msg").innerHTML="Password and confirm Password must be same!";
    }
  }
</script>
