<div class="center flex-column" id="vantajsnet">
  <div class="d-flex">
    <div class="card shadow" style="width: 36rem;">
      <div class="card-header">
        <h2 class="text-center">User Form</h2>
      </div>
      <div class="card-body">
        <!--Error Message-->
        <% if flash[:errors] %>
          <% flash[:errors].each do |error| %>
            <p class="text-danger"><%= error %></p>
          <% end %>
        <% end %>
        <!-- Form Started Here -->
        <%= form_with model: @js_user, method: :patch, url: profile_update_js_user_path, local: false do |f| %>
          <%= f.label :first_name, "First Name :", class:"mt-3" %>
          <%= f.text_field :first_name ,placeholder: "Enter Your First Name", class:"mb-2 form-control" %>
          <br>
          <%= f.label :last_name, "Last Name :" %>
          <%= f.text_field :last_name ,placeholder: "Enter Your Last Name", class:"mb-2 form-control" %>
          <br>
          <%= f.label :email, "E-mail ID :" %>
          <%= f.email_field :email ,placeholder: "Enter Your E-mail ID", class:"mb-2 form-control", id:"email", oninput: "ShowPasswordDiv()" %>
          <!-- Password Div -->
          <div id="password_div" style="display:none">
            <br>
            <%= f.label :password, "Password :" %>
            <%= f.password_field :password ,placeholder: "Enter Your Password", class:"mb-2 form-control", id: "old_pwd" %>
          </div>
          <br>
          <%= f.label :subscription, "Do you wanna Subscription?" %> &nbsp;
          <%= f.check_box :subscription, class:"form-check-input", onclick:"ShowHideSubEmailDiv(this)" %>
          <br>
          <!-- Subscription email Div -->
          <div id="sub_email_div" style="display: block">
            <%= f.label :subscription_email, "Subscription Email :", class:"mt-3" %>
            <%= f.email_field :subscription_email ,placeholder: "Enter Your E-mail", class:"mb-2 form-control" %>
          </div>
          <br>
          <%= f.submit "Update User", data: { disable_with: "Saving..." }, class:"btn-primary border-0 rounded-pill shadow p-3" %>
        <% end %>
        <%= button_to "Change Password", changepassword_js_user_path, method: :get ,class:"btn-warning border-0 rounded-pill shadow p-3 my-3" %>
      </div>
    </div>
    <!-- User Details that are fetch using AJAX Call -->
    <div id="userdetails" class="ms-3">
    </div>
  </div>
</div>
<!-- JAVASCRIPT -->
<script type="text/javascript">
  function ShowHideSubEmailDiv(subcription_check) {
    var sub_email_div = document.getElementById("sub_email_div");
    sub_email_div.style.display = !subcription_check.checked ? "none" : "block";
  }

  function ShowPasswordDiv() {
    var email_value = document.getElementById("email").value;
    // taking old email from js_user instance in controller
    var pre_email = "<%=@js_user.email %>";
    if (email_value != pre_email) {
      document.getElementById("password_div").style.display = "block";
    } else {
      document.getElementById("password_div").style.display = "none";
    }
  }
</script>
