<!-- Form For Product -->
<div class="center flex-column" id="vantajs" style="height:100vh;">
  <div class="card bg-light border-warning shadow" style="width: 22rem;">
    <div class="card-body">
      <div class="card-header">
        <h2 class="text-center">Product Form</h2>
      </div>
      <!--Error Message-->
      <% if flash[:errors] %>
        <% flash[:errors].each do |error| %>
          <p class="text-danger"><%= error %></p>
        <% end %>
      <% end %>
      <!-- Form Started Here -->
      <%= form_for @rproduct do |product| %>
        <%= product.label :title, "Title :", class:"mt-3" %>
        <%= product.text_field :title ,placeholder: "Enter Product's Title",class:"mb-2 form-control" %>
        <br>
        <%= product.label :description, "Description :" %>
        <%= product.text_field :description ,placeholder: "Enter Product's Description",class:"mb-2 form-control" %>
        <br>
        <%= product.label :price, "Price :" %>
        <%= product.number_field :price ,placeholder: "Enter Product's Price",class:"mb-2 form-control" %>
        <br>
        <%= product.submit class:"btn-primary border-0 rounded-pill shadow p-3" %>
      <% end %>
    </div>
  </div>
</div>
