<%= render 'layouts/navbar'%>
<div class="center flex-column">
  <h1> Students </h1>

  <!-- Error Message -->
  <% if flash[:notice] %>
    <% flash.each do |name,message| %>
      <p class="text-danger"><%= message%></p>
    <% end %>
  <% end %>

  <!-- Student Table -->
  <div>
    <table class="table table-info table-striped">
      <ol class="fs-2">
        <thead class="table-secondary">
          <td class="text-center"> Name </td>
          <td class="text-center"> Email </td>
          <td class="text-center"> Phone Number </td>
          <td class="text-center"> Department </td>
        </thead>

        <% @students.each do |student| %>
          <tr>
            <td class="text-center"> <%= link_to student.firstname + " " + student.lastname, student_path(student) %> </td>
            <td class="text-center"> <%= student.email %> </td>
            <td class="text-center"> <%= student.phone_number %> </td>
            <td class="text-center"> <%= student.department %> </td>
          </tr>
        <% end %>
      </ol>
    </table>
  </div>

  <div class="d-flex">
    <%= button_to "Add New Student", new_student_path, method: :get ,class:"btn-success border-0 rounded-pill shadow p-3 m-3" %>
    <%= button_to "View All Faculty", faculties_path, method: :get ,class:"btn-warning border-0 rounded-pill shadow p-3 m-3" %>
  </div>
