<div class="center flex-column">
  <h1> Faculties </h1>

  <!--Error Message-->
  <% if flash[:notice] %>
    <% flash.each do |name,message| %>
      <p class="text-danger"><%= message%></p>
    <% end %>
  <% end %>

  <!-- Faculty Table -->
  <div>
    <table class="table table-info table-striped">
      <ol class="fs-2">
        <thead class="table-secondary">
          <td class="text-center"> Name </td>
          <td class="text-center"> Email </td>
          <td class="text-center"> Department </td>
          <td class="text-center"> Designation </td>
        </thead>

        <% @faculties.each do |faculty| %>
          <tr>
            <td class="text-center"> <%= link_to faculty.firstname + " " + faculty.lastname, faculty_path(faculty) %> </td>
            <td class="text-center"> <%= faculty.email %> </td>
            <td class="text-center"> <%= faculty.department %> </td>
            <td class="text-center"> <%= faculty.designation %> </td>
          </tr>
        <% end %>
      </ol>
    </table>
  </div>

  <div class="d-flex">
    <%= button_to "Add New Faculty", new_faculty_path, method: :get ,class:"btn-success border-0 rounded-pill shadow p-3 m-2"%>
    <%= button_to "View All Students", students_path, method: :get ,class:"btn-warning border-0 rounded-pill shadow p-3 m-2"%> 
  </div>
