<%= render 'layouts/navbar'%>
<!-- Add New Faculty -->
<div class="center flex-column">
  <h1>Add New Faculty</h1>
  
  <!--Error Message-->
  <% if flash[:errors] %>
    <% flash[:errors].each do |error| %>
      <p class="text-danger"><%= error %></p>
    <% end %>
  <% end %>

  <%# Form Started Here %>
  <%= form_for @faculty do |f| %>
    <%= f.label :firstname, "First Name :", class:"mt-3" %>
    <%= f.text_field :firstname ,placeholder: "Enter Faculty's First Name",class:"mb-2 form-control" %>
    <br>

    <%= f.label :lastname, "Last Name :" %>
    <%= f.text_field :lastname ,placeholder: "Enter Faculty's Last Name",class:"mb-2 form-control" %>
    <br>

    <%= f.label :phone_number, "Phone Number :" %>
    <%= f.text_field :phone_number ,placeholder: "Enter Faculty's Phone Number",class:"mb-2 form-control" %>
    <br>

    <%= f.label :email, "E-mail ID :" %>
    <%= f.text_field :email ,placeholder: "Enter Faculty's E-mail ID",class:"mb-2 form-control" %>
    <br>

    <%= f.label :birthdate, "Birthdate :" %> &nbsp;
    <%= f.date_select :birthdate, as: :date, :start_year=>1900 ,placeholder: "Enter Faculty's Birthday Date",class:"mb-2 rounded-3 dob_field" %>
    <br> <br>

    <%= f.label :department, "Department :" %>
    <%= f.text_field :department ,placeholder: "Enter Faculty's Department",class:"mb-2 form-control" %>
    <br>

    <%= f.label :designation, "Designation :" %>
    <%= f.text_field :designation ,placeholder: "Enter Faculty's Designation",class:"mb-2 form-control" %>
    <br>

    <%= f.submit class:"btn-primary border-0 rounded-pill shadow p-3" %>
    
  <% end %>
</div>
