<%= render 'layouts/navbar'%>
<!-- Author Details Showing -->
<div class="center flex-column">
  <h1>Author Details</h1>
  <div>
    <h2> &#10145; Firstname: <%= @author.firstname %> </h2>
    <h2> &#10145; Lastname: <%= @author.lastname %> </h2>
    <h2> &#10145; DOB: <%= @author.dob %></h2>
    <h2> &#10145; Email: <%= @author.email %> </h2>

    <!-- To display book -->
    <h2> Book: <% @author.books.each do |book| %> 
      <h3>
        <ul>
          <li><%= book.name %></li>
        </ul>
      </h3>
     <% end %> 
    </h2>
</div>
<div class="d-flex align-items-center justify-content-around">
  <%= button_to "Edit author" , edit_author_path, method: :get ,class:"btn-success border-0 rounded-pill shadow p-2 my-2" %>
  &nbsp;
  <%= button_to "Delete author", author_path, method: :delete ,class:"btn-danger border-0 rounded-pill shadow p-2 mb-2" %>
  &nbsp;
  <%= button_to "View all authors", authors_path,method: :get ,class:"btn-success border-0 rounded-pill shadow p-2 mb-2" %>
</div>
</div>
