<!-- File For Edit Product -->
<div class="center flex-column">
    
    <h1> Edit Product's Detail </h1>

    <!-- Edit Form Start Here -->
    <%= form_for @product,url: {action: :update} do |f| %>

        <%= f.label :name %>
        <%= f.text_field :name ,class:"mb-2 form-control" %>
        <br>

        <%= f.label :price%>
        <%= f.number_field :price, step: :any ,class:"mb-2 form-control" %>
        <br>

        <%= f.label :description %>
        <%= f.text_field :description ,class:"mb-2 form-control" %>
        <br>

        <%=f.submit class:"btn-warning border-0 rounded-pill shadow p-3" %>

    <% end %>
</div>
