<div class="center flex-column">

<h1>Product Details</h1>

<div>
<h2>&#10145; Product: <%=@product.name%> </h2>
<h2>&#10145; Description: <%=@product.description%></h2> 
<h2>&#10145; Price: <%=@product.price%> </h2>
</div>

<div class="d-flex align-items-center justify-content-around">
<%= button_to "Edit Product" , edit_product_path, method: :get ,class:"btn-success border-0 rounded-pill shadow p-2 my-2"%>
&nbsp;
<%= button_to "Delete Product", product_path, method: :delete ,class:"btn-danger border-0 rounded-pill shadow p-2 mb-2"%>
&nbsp;
<%= button_to "View all Products", products_path,method: :get ,class:"btn-success border-0 rounded-pill shadow p-2 mb-2"%>
</div>
</div>
