<nav class="navbar navbar-expand-lg navbar-dark bg-dark ">
  <div class="container-fluid">
    <a href="/" class="me-5"><%=image_tag("Simform.svg") %></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active " aria-current="page" href="/">Employees</a>
        </li>
        <li class="nav-item">
          <%= link_to 'Go To Task', employees_task_path, class: 'nav-link active' %>
        </li>
      </ul>
      <form class="d-flex">
        <%= form_tag employees_path, method: :get do %>
          <%= email_field_tag :search_query, params[:search_query], class: "form-control me-2" %>
          <%= submit_tag "search", class:"btn btn-outline-success" %>
        <% end %>
      </form>
    </div>
  </div>
</nav>
